
body{
    background-image: url("/image/bg.png");
    background-color: #C4A06A;
    background-size:contain;
    font-family: 'Abhaya Libre';
    margin: 0;
    padding: 0;
}

.lim:hover{
    content: url("/image/limss.png");
}
